@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,700&family=Solitreo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}
.container {
  margin: 24px 170px;
  display: flex;
  justify-content: space-between;
}
.navbar_top {
  margin: 24px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bank{
  font-weight: 600;
  font-size: 40px;
  color: rgb(29, 95, 166);
}
.list ul {
  display: flex;
  justify-content: space-between;
}
.list ul li {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.list ul li a {
  color: black;
}
.list ul li a:hover{
  color: #de2e54;
}

.sariq_btn {
  font-size: 15px;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 8px;
  border: 2px solid #de2e54;
  background: #de2e54;
  margin-bottom: 10px;
}
.sariq_btn:hover{
  background-color: transparent;
}
.sariq_btn a {
  color: #fff;
  text-transform: uppercase;
}
.sariq_btn:hover a{
  color: #de2e54;
}
.s_btn:hover{
  background-color: #d63c5edc;
}
.s_btn:hover a{
  color: #fff;
}
.navbar_bottom {
  background: #2b6798;
}
.navbar_bottomLeft {
  width: 500px;
  padding-top: 120px;
  margin-bottom: 20px;
}
.navbar_bottomLeft h1 {
  margin-bottom: 16px;
  color: white;
}
.navbar_bottomLeft p {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.navbar_bottomLeft button {
  margin-top: 36px;
  display: inline-flex;
}
.navbar_bottomRight {
  padding-top: 29px;
  position: relative;
}
.navbar_bottomRight p{
  position: absolute;
  top: 157px;
  right: 249px;
  font-size: 40px;
  color: white;
}
.fontAwesome{
  font-size: 200px;
}
.navbar_bottomRight img {
  display: block;
}
.cards {
  margin-bottom: 120px;
}
.cards h1 {
  margin-left: 44%;
  text-transform: capitalize;
  color: #222;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 56px;
}
.card {
  display: flex;
  margin: 0 288px;
  margin-bottom: 80px;
}
.img {
  padding-right: 64px;
}
.text h2 {
  text-transform: capitalize;
  margin: 24px 0;
}
.text p {
  color: #444;
  width: 550px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.cards button {
  margin-left: 44%;
}
.footer_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0eb4c1;
  color: white;
  padding: 64px;
}
.footer_top h1 {
  margin-bottom: 40px;
}
.btn2 button {
  color: #fff;
  background-color: transparent;
  outline: none;
  border-radius: 8px;
  border: 2px solid #fff;
  padding: 12px 24px;
  margin: 0px 20px;
  font-weight: 700;
}
.btn2 button:hover{
  background-color: #de2e54;
  border-color: #de2e54;
}
.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 170px;
  background: #222;
}
.footer_bottom .list a {
  color: #fff;
}
.footer_bottom .list a:active{
  transition: all 3s ease;
}
.rasm{
  width: 530px;
}